@font-face {
    font-family: 'SF Pro';
    src: url('path/to/SF-Pro-Regular.woff2') format('woff2'),
        /* Regular */
        url('path/to/SF-Pro-Bold.woff2') format('woff2'),
        /* Bold */
        url('path/to/SF-Pro-Italic.woff2') format('woff2');
    /* Italic */
    /* Include other font formats (woff, eot, ttf) for better browser support */
}

html,
body {
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;

}


.title {
    color: #1B0C75;
    text-transform: capitalize;
    font-size: 60px;
    font-weight: 700;
}

.brand-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.brands-slider-col {
    height: 200px;
    width: 100%;
    float: none
}

#brand-discount-slider {
    position: relative;
    overflow: hidden;
    width: 100% !important;
    height: 200px !important;
    padding: 0px 0px;
}

#brand-discount-slider ul {
    position: relative;
    margin: 0 !important;
    height: 100% !important;
    list-style: none;
    display: flex;
    width: 100% !important;
}

#brand-discount-slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: auto;
    padding: 17px;
    width: 100%;
    text-align: center;
}

/* #brand-discount-slider ul li img {
    width: 100%;
} */

.brand-arrow-prev {
    width: 50px;
    height: 81%;
    text-align: center;
    line-height: 177px;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 25;
    cursor: pointer;
    margin: 20px 0px;
}

.brand-arrow-next {
    width: 50px;
    height: 81%;
    text-align: center;
    line-height: 177px;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 25;
    cursor: pointer;
    margin: 20px 0px;
}

.brand-arrow-next:hover,
.brand-arrow-prev:hover {
    color: #d58e35;
}

/* Program Section */
.program {
    position: relative;
    width: 100%;
}

.program .background-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
}

.prog {
    background-color: #F5F8FB;
    padding: 15px 10px;
    border-radius: 60px 10px 10px 60px;
    max-width: 650px;
    max-height: 100px;
    margin-bottom: 20px;
}

.prog p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    margin: auto;
}

.prog .circle {
    /* background-color: #EA6838; */
    border-radius: 100%;
    height: 70px;
    width: 12%;
    margin-right: 10px;
}

.prog .circle img {
    width: 48px;
    height: 40px;
    margin: auto;
}

.mySwiper-mobile {
    width: 100%;
    height: 100%;
}

/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.slide-mobile {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-mobile img {
    display: block;
    width: 100%;
}

.swiper-backface-hidden .slide-mobile {
    width: 200px !important;
}

.companies {
    margin-bottom: 100px !important;
    margin-top: 100px !important;
}

.features .content {
    display: flex;
    justify-content: center;
}


.feature-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features .feat {
    position: relative;
    display: flex;
    width: 170px;
    margin: 20px 80px 54px 80px;
    background-color: #ccc;
    height: 170px;
}

.features img {
    width: 110px;
    height: 110px;
    margin: auto;
}

.text-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* For responsiveness */
@media (max-width: 768px) {
    .features .feat {
        width: 45%;
        /* Adjust width for smaller screens */
    }
}

.features .feat1 {
    background-color: #2424FF;
    margin-right: 30px;
    width: 170px !important;
    height: 170px;
    display: flex;
}

.features .feat2 {
    background-color: #1B0C75;
}

.features .feat3 {
    background-color: #1F17AF;
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
}

.swiper-pagination-bullet-active {
    background-color: #EA6838 !important;
}

.swiper-pagination-features {
    text-align: center !important;
}

.swiper-events {
    width: 100%;
    height: 100%;
}

.swiper-slide-event {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide-event img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myswiper-event {
    width: 100%;
    height: 100%;
}

.slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.events {
    margin-top: 65px !important;
    margin-bottom: 100px !important;
}

.events .card {
    background: linear-gradient(54.78deg, #2424FF 4.75%, #1B0C75 95.46%);
    border-radius: 25px;
}

.events .card h2 {
    color: rgba(244, 244, 244, 1) !important;
    font-weight: 700;
}

.events .card p {
    color: rgba(255, 255, 255, 1) !important;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    margin-top: 30px;

}

.swiper-button-prev:after {
    font-size: 25px !important;
    color: #000;

}

.swiper-button-prev {
    border: 1px solid rgba(16, 48, 64, 1);
    border-radius: 50%;
    width: 45px !important;
    margin-left: 35px;
    margin-top: 25px !important;
}

.swiper-button-next:after {
    font-size: 25px !important;
    color: #000;

}

.swiper-button-next {
    border: 1px solid rgba(16, 48, 64, 1);
    border-radius: 50%;
    width: 45px !important;
    margin-right: 35px;
    margin-top: 25px !important;
}

.testimonials {
    margin-top: 65px !important;
    margin-bottom: 220px !important;
}

.testimonials .card {
    border-radius: 30px;
    width: 356px;
    padding: 20px;
}

.testimonials .card-text {
    font-size: 20px;
    color: rgba(88, 92, 101, 1);
    font-weight: 400;
}

.testimonials .client-name {
    font-size: 22px;
    color: rgba(36, 36, 255, 1);
    font-weight: 700;
}

.testimonials .background-image {
    position: absolute;
    top: 130px;
    left: 0;
    z-index: -1;
}

.testimonials .quote {
    width: 44px;
    top: -18px;
}

.contact-us {
    margin-top: 65px !important;
}

.contact-us .card {
    background-color: rgba(28, 13, 117, 1);
    max-height: 476px !important;
    border-radius: 25px;
}

.contact-us form {
    border-radius: 10px;
    position: relative;
}

.contact-us .card h2 {
    color: rgba(244, 244, 244, 1) !important;
    font-weight: 700;
}

.contact-us .card p {
    color: rgba(255, 255, 255, 1) !important;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    margin-top: 30px;

}

.contact-us form {
    background-color: rgba(255, 255, 255, 1) !important;
    padding: 40px;
}

.contact-us input[type="email"],
.contact-us input[type="text"],
.contact-us input[type="Number"] {
    border: 1px solid rgba(218, 218, 218, 1);
    border-radius: 20px;
}

/* Hide the default placeholder */
.contact-us input::placeholder {
    color: transparent;
}

/* Apply custom style to the placeholder */
.contact-us input[type="email"]::placeholder,
.contact-us input[type="password"]::placeholder,
.contact-us input[type="Number"]::placeholder,
.contact-us input[type="text"]::placeholder {
    color: #6c757d;
}

.contact-us input[type="email"]:focus,
.contact-us input[type="password"]:focus {
    outline: none;
    /* Remove default focus outline */
    border-color: #6c757d;
    /* Adjust focus border color as needed */
}

.contact-us .btn-primary {
    background-color: rgba(234, 104, 56, 1);
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    border-color: rgba(234, 104, 56, 1);
    border-top-left-radius: 20px;
    /* Adjust the radius as needed */
    border-bottom-left-radius: 20px;
    /* Adjust the radius as needed */
    border-top-right-radius: 20px;
    /* Adjust the radius as needed */
    border-bottom-right-radius: 20px;
    /* Adjust the radius as needed */
}

.contact-us .btn-primary:hover {
    background-color: rgba(234, 104, 56, 1);
    border-color: rgba(234, 104, 56, 1);
}

.footer h4 {
    color: rgba(28, 13, 117, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
}

.footer .links a {
    cursor: pointer;
}

.footer .links svg {
    padding: 5px;
    width: 38px;
    text-align: center;
    height: 39px;
    font-size: 24px;
    margin-right: 8px;
    color: rgba(28, 13, 117, 1);
}

.footer .links a {
    border: 1px solid rgba(28, 13, 117, 1);
    border-radius: 50%;
    width: 40px;
    text-align: center;
    height: 40px;
    font-size: 23px;
    margin-right: 8px;
    color: rgba(28, 13, 117, 1);
}


.footer .number {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(28, 13, 117, 1);
}